<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  <parameter name="b" value="chrome" />
  <parameter name="u" value="http://www.ccc.com" />
    <classes>
      <class name="com.NewTest2"/>
      <class name="com.NewTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
